.item {
  display: flex;
  align-items: center;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: rgb(209, 225, 220);
  padding: 10px 20px;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.online {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}
.offline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: tomato;
}
.avatar {
  margin-left: 40px;
  margin-right: 40px;
}
.name {
  font-weight: bold;
  font-size: 34px;
}
