.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 200px;
  height: 400px;
  padding-top: 30px;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  height: 145px;
  width: 145px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.username {
  font-weight: bold;
}
p {
  color: black;
  font-size: 14px;
}
.stats {
  display: flex;
}
.item {
  display: flex;
  flex-direction: column;
}
