.wrapper {
  display: flex;
  background-color: #ffffff;
  width: 200px;
  height: 400px;
}
p {
  color: black;
  font-size: 14px;
}
.avatar {
  height: 145px;
  width: 145px;
  border-radius: 50%;
}
.stats {
  display: flex;
}
.item {
  display: flex;
  flex-direction: column;
}
