.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfafa;
  width: 300px;
  height: auto;
  padding-top: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.title {
  font-size: 25px;
  font-weight: bold;
}
.list {
  display: flex;
  margin-top: 20px;
  width: 100%;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 25%;
  height: 100px;
  background-color: rgb(230, 240, 237);
}
.item:last-child {
  border-bottom-right-radius: 5px;
}
.item:first-child {
  border-bottom-left-radius: 5px;
}
