.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 60px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.label {
  font-weight: normal;
  font-size: 16px;
  color: blanchedalmond;
}

.percentage {
  font-weight: bold;
  font-size: 20px;
  color: blanchedalmond;
}
