.line {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 25%;
  text-align: center;
  border: 1px solid gray;
  background-color: blue;
  padding-top: 10px;
  padding-bottom: 10px;
}
